.play img {
    width: 400px;
    position: absolute;
    top: 2%;
    right: 10%;
    transform: rotate(-20deg);
}



.play .button {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 30px;
    top: 70%;
    right: 5%;
}

.play .button button {
    padding: 15px 20px;
    font-size: 1rem;
    color: #585858;
    background-color: #EAEEF4;
    border: none;
    border-radius: 15px;
}

.play .button button:nth-child(1) {
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #FF58B2;
    background-color: #ff58b14e;
    border: none;
    border-radius: 15px;
}

@media (max-width: 768px){
    .play img {
        width: 250px;
        position: absolute;
        top: 10%;
        right: 20%;
        z-index: -1;
        transform: rotate(-20deg);
    }
    ;.play{
        order: initial;
    }
    .play .button {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 30px;
        top: 50%;
        right: 5%;
    }
}